html, body {
    Margin: 0;
    Padding: 0;
    height:100%;
}
body{
    display:flex;
    flex-direction: column;
}
footer{
    margin-top:auto;
}
.footer-container{
    display: inline-block;
    width:100%;
    background-color:#274C77;
    color:#ffff;
    padding-left: 10px;
}

.site-header{
    background-color:#274C77;
    color:#ffff;
    padding-left: 10px;
    display: flex;
    text-decoration: none;
    
}
.nav-links{
    padding-left: 5px;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-item{
     
    margin-right: 20px;
    text-decoration: none;
    size: 24px;
    color: #ffff;
}
.logo{
    float:left;
    width: auto;
}
li{
  align-content: center;
    justify-content: center;  
}
.sports-form{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
}
.select-options{
    margin: 10px;
}
.events-container{
    display: grid;
    grid-template-columns: auto auto auto;
    width:100%;
    justify-content: center;
    align-items: center;
}
.league-logo{
    display:flex;
    width:auto;
    height:auto;
    justify-content: center;
    align-items: center;
}
.event{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.filter-button{
    padding: 10px 20px;
    margin:2px;
    background-color: #4BB3FD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.filter-button:hover{
    background-color: #357ABD;
}
.teams-container{
    display:flex;
    float:left;
    align-items: center;
    width:100%;
    padding-right:20px;
    margin-left:20px;
}
.team-logo{
    padding-right:10px;
}
.at-text{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-right:10px;
}
.teams-info{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}